<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid">
    <div class="container cus_main_row" >
        <div class="row">
            <h2 class="pos-header-new">
                <div>Payment Method</div>
            </h2>
        </div>
        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body" style="height: 65px;">
                        <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                            <form class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                    <div class="col-sm-12">

                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-7 col-md-9 col-sm-9">

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-default hi_btn"  ng-click="addNewPaymentMethodPopulate()">Add</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="fixed-table-container">
                    <div class="table_wrap fixed-table-container-inner">
                        <div class="header-background"> </div>
                        <table data-toggle="table" data-cache="false" data-height="299"  style="margin-bottom: 0px;" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                            <thead>
                            <tr>
                                <th data-field="agentname"><div class="th-inner">Payment Name</div></th>
                                <th data-field="agentdesc"><div class="th-inner">Description</div></th>
                                <th data-field="agentemail"><div class="th-inner">Payment Type</div></th>
                            </tr>
                            </thead>
                            <tbody id="parentTable">
                            <tr ng-repeat="paymentMethod in paymentMethodList| filter:searchText">
                                <td>{{paymentMethod.paymentmethodName}}</td>
                                <td>{{paymentMethod.paymentmethodDescription}}</td>
                                <td>{{paymentMethod.paymentmethodType}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Button added for pagination @rahul-->

                </div>
        <div class="modal fade ExchangeRate" tabindex="-1" id="add_new_PaymentMethod_modal" role="dialog" data-backdrop="static"
             aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-md">
                <div class="modal-content checkout">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 id = "payment-title" class="modal-title">Add Payment Method</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <form class="form-horizontal" name="paymentmethod">
                                    <fieldset>
                                        <div class="form-group">
                                            <input type="hidden" ng-model="setupobj.paymentmethodId" value="{{setupobj.paymentmethodId}}"/>
                                            <label class="col-md-4 col-sm-4 control-label" for="">Payment Name </label>
                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                <input id="paymentmethodName" name="paymentmethodName"
                                                       type="text" placeholder="payment Name"
                                                       ng-pattern="/[aA-zZ\s]$/"
                                                       ng-model="paymentmethodNameText" maxlength="125"
                                                       ng-value="setupobj.paymentmethodName"
                                                       class="form-control input-md" autocomplete="off" required>
                                                <p class="error" ng-show="paymentmethod.paymentmethodName.$error.pattern">Alphabets only, please.</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 control-label" for="">Payment Description</label>
                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                        <textarea id="paymentmethodDescription" name="paymentmethodDescription"
                                                  allowpattern="[a-z]"
                                                  type="text" placeholder="payment Description"
                                                  ng-model="paymentmethodDescriptionText" maxlength="250"
                                                  ng-value="setupobj.paymentmethodDescription"
                                                  class="form-control input-md"> </textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 control-label" for="">Payment Type</label>
                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                <select name="paymentmethodType" id="paymentmethodType"
                                                        ng-value="setupobj.paymentmethodType"
                                                        ng-model="paymentmethodTypeText" class="form-control input-md">
                                                    <option value="">Select Your Payment Type</option>
                                                    <option value="Cash">Cash</option>
                                                    <option value="Bank">Bank</option>
                                                    <option value="Voucher">Voucher</option>
                                                    <option value="Card">Card</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 control-label" for="">Account Type</label>
                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                <input id="accountType" name="accountType"
                                                       type="text" placeholder="Account Type"
                                                       ng-pattern="/[aA-zZ\s]$/"
                                                       ng-model="accountTypeText" maxlength="125"
                                                       ng-value="setupobj.accountType"
                                                       class="form-control input-md" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 control-label" for="">Status</label>
                                            <div class="col-md-6 col-sm-6" >
                                                <select name="paymentMethodText" id="paymentMethodText" ng-model="statusText"  class="form-control input-md" required>
                                                    <option value="Active">Active</option>
                                                    <option value="InActive">InActive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-md-4 col-sm-4 control-label" >Default Type</label>-->
                                            <!--<div class="col-md-6 col-sm-6" style="position:relative;">-->
                                                <!--<input id="defaultType" type="checkbox" ng-model="defaultType" ng-value="defaultType">-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-toggle="modal"
                                data-target=".print-me"  ng-click="saveOrUpdatePayment('add_new_PaymentMethod_modal')">Save
                        </button>
                        <button type="button" class="btn btn-default" ng-click="removePaymentMethodDetails()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>