<!DOCTYPE html>
<html lang="en">

<body>
<div class="container-fluid">
    <div class="container cus_main_row" >
        <div class="row">
            <h2 class="pos-header-new">
                <div>Practitioner Registration</div>
            </h2>
        </div>
        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body" style="height: 65px;">
                        <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                            <form class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="input-group" style="display: block;">
                                            <input id="search_country" name="textinput"  type="text"
                                                   placeholder="search email" ng-model="SearchText" class="form-control input-md"
                                                   ng-keyup="$event.keyCode == 13 ? getpractitionerReg(SearchText) : null" />
                                        </p>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-7 col-md-9 col-sm-9">

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button id="" type="button" class="btn btn-default hi_btn"  ng-click="addpractitioner()">Add</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="fixed-table-container">
                                <div class="table_wrap fixed-table-container-inner">
                                    <div class="header-background"> </div>
                                    <table data-toggle="table" data-cache="false" data-height="299"  style="margin-bottom: 0px;" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                                        <thead>
                                        <tr>
                                            <th data-field="cmpnyname"><div class="th-inner">Name</div></th>
                                            <th data-field="cmpnyname"><div class="th-inner">Status</div></th>
                                            <th data-field="cmpnyname"><div class="th-inner">Email</div></th>
                                            <!--<th data-field="deltype"><div class="th-inner">transactionDate;</div></th>-->
                                        <tbody id="parentTable">
                                        <tr ng-repeat="pregister in pregisterList| filter:searchText">
                                            <td>{{pregister.name}}</td>
                                            <td>{{pregister.status}}</td>
                                            <td>{{pregister.email}}</td>


                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade ExchangeRate" tabindex="-1" id="add_new_practitionerreg_modal" role="dialog" data-backdrop="static"
                             aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content checkout">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 id = "practitioner-title" class="modal-title">Add Practitioner</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <form class="form-horizontal" name="mail">
                                                    <fieldset>

                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">Name</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="totalAmount" name="Name"
                                                                       type="text" placeholder="Name"
                                                                       ng-model="name"
                                                                       class="form-control input-md" autocomplete="off">

                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">Company Name</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="Company Name" name="Company Name"
                                                                       type="text" placeholder="Company Name"
                                                                       ng-model="companyName"
                                                                       class="form-control input-md" >
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">Practitioner Number</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="Practitioner Number" name="Practitioner Number"
                                                                       type="text" placeholder="Practitioner Number"
                                                                       ng-model="practitionernumber"
                                                                       class="form-control input-md" autocomplete="off">

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">Phone</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="Phone" name="Phone"
                                                                       type="text" placeholder="Phone"
                                                                       ng-model="Phone"
                                                                       class="form-control input-md" autocomplete="off">

                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">Email</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="Email" name="Email"
                                                                       ng-pattern="word"
                                                                       type="text" placeholder="Email"
                                                                       ng-model="Email"
                                                                       class="form-control input-md" autocomplete="off">
                                                                <p class="error" ng-show="mail.Email.$error.pattern">Enter Valid EmailId</p>

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">Password</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="Password" name="Password"
                                                                       type="text" placeholder="Password"
                                                                       ng-model="Password"
                                                                       class="form-control input-md" autocomplete="off">

                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" for="">subscriptionName</label>
                                                            <div class="col-md-6">
                                                                <select  name="subscriptionId" ng-model="subscriptionId" ng-options="registration.subscriptionId as registration.subscriptionName for registration in subscriptionList" class="form-control input-md ng-change='getFirstLevel(subscriptionId)"></select>

                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">SyncUrl</label>
                                                            <div class="col-md-6 col-sm-6" style="position:relative;">
                                                                <input id="SyncUrl" name="SyncUrl"
                                                                       type="text" placeholder="SyncUrl"
                                                                       ng-model="SyncUrl"
                                                                       class="form-control input-md" autocomplete="off">

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-4 col-sm-4 control-label" for="">Status</label>
                                                            <div class="col-md-6 col-sm-6" >
                                                                <select name="paymentMethodText" id="paymentMethodText" ng-model="status"  class="form-control input-md" required>
                                                                    <option value="Active">Active</option>
                                                                    <option value="InActive">InActive</option>
                                                                </select>
                                                            </div>
                                                        </div>


                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-default" data-toggle="modal"
                                                data-target=".print-me"  ng-click="savepractitioner()">Save
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="removepayments()" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


</body>
</html>