<!DOCTYPE html>
<html lang="en">
<head>
    <div class="container-fluid">
        <div class="container cus_main_row" style="height: 715px;">
            <div class="row">
                <h2 class="pos-header-new">
                    <div>StateList</div>
                </h2>
            </div>
            <div class="row inner_row_bg">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel">
                        <div class="panel-body" style="height: 65px;">
                            <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                                <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="input-group" style="display: block;">
                                                <input id="search_state" name="textinput"  type="text"
                                                       placeholder="search state" ng-model="countrySearchText" class="form-control input-md"
                                                       ng-keyup="$event.keyCode == 13 ? getCountryList(countrySearchText) : null" />
                                            </p>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-lg-7 col-md-9 col-sm-9">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <button id="add_state" type="button" class="btn btn-default hi_btn"  ng-click="addNewState()">Add state</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="fixed-table-container">
                            <div class="table_wrapfixed-table-container-inner">
                                <div class="header-background"> </div>
                                <table data-toggle="table" data-cache="false" data-height="299" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                                    <thead>
                                    <th data-field="cntryname"><div class="th-inner">state name</div></th>
                                    <th data-field="cntryname"><div class="th-inner">status</div></th>

                                    <tbody id="parentTable">
                                    <tr ng-repeat="state in stateList| filter:searchText">
                                        <td>{{state.stateName}}</td>
                                        <td>{{state.status}}</td>

                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    <div class="modal fade State" tabindex="-1" id="add_new_State_modal" role="dialog" data-backdrop="static"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content checkout">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 id="state-title" class="modal-title">add new state</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <form class="form-horizontal">
                                                <fieldset>
                                                    <input type="hidden" ng-model="stateObj" value="{{stateObj.id}}"/>

                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label">Country Name</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                         <select  name="countryId" ng-model="countryId" ng-options="Country.countryId as Country.countryName for Country in countryPojoList" class="form-control input-md ng-change='getFirstLevel(countryId)"></select>


                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="state_state">state </label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="state_state" name="stateNameText"
                                                                   type="text" placeholder="name"
                                                                   ng-model="stateNameText"
                                                                   class="form-control input-md" autocomplete="off" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">status</label>
                                                        <div class="col-md-6 col-sm-6" >
                                                            <select name="StatusText" id="status_state" ng-model="StatusText" ng-init="StatusText='Active'"class="form-control input-md">
                                                                <option value="Active">Active</option>
                                                                <option value="InActive">inActive</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-default" data-toggle="modal"
                                                                data-target=".print-me" ng-click="saveState()">save
                                                        </button>
                                                        <button type="button" class="btn btn-default" ng-click="removeStateDetails()" data-dismiss="modal">close</button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                                                    </head>
<body>

</body>
</html>