<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid">
    <div class="container cus_main_row" >
        <div class="row">
            <h2 class="pos-header-new">
                <div>Transactions Data</div>
            </h2>
        </div>
        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel">
                    <div class="panel-body" style="height: 65px;">
                        <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                            <form class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                    <div class="col-sm-12">

                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-7 col-md-9 col-sm-9">

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button id="" type="button" class="btn btn-default hi_btn"  ng-click="addtransdata()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="fixed-table-container">
                            <div class="table_wrap fixed-table-container-inner">
                                <div class="header-background"> </div>
                                <table data-toggle="table" data-cache="false" data-height="299"  style="margin-bottom: 0px;" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                                    <thead>
                                    <tr>
                                        <th data-field="formRegno"><div class="th-inner">formcompname</div></th>
                                        <th data-field="formRegno"><div class="th-inner">tocompname</div></th>
                                        <th data-field="formRegno"><div class="th-inner">timeStamp</div></th>
                                        <th data-field="status"><div class="th-inner">status</div></th>
                                        <!--<th data-field="deltype"><div class="th-inner">transactionDate;</div></th>-->
                                    <tbody id="parentTable">
                                    <tr ng-repeat="data in transdata| filter:searchText">
                                        <td>{{data.fromCompname}}</td>
                                        <td>{{data.toCompname}}</td>
                                        <td>{{data.timestamp}}</td>
                                        <td>{{data.status}}</td>


                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade ExchangeRate" tabindex="-1" id="add_new_trans_data_modal" role="dialog" data-backdrop="static"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content checkout">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 id = "cust-notif" class="modal-title">Add Transaction Data</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <form class="form-horizontal" name="mail">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">formRegno</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="formRegno" name="formRegno"
                                                                   type="text" placeholder="formRegno"
                                                                   ng-model="formRegno"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">toRegno</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="toRegno" name="toRegno"
                                                                   type="text" placeholder="toRegno"
                                                                   ng-model="toRegno"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">timeStamp</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="timeStamp" name="timeStamp"
                                                                   type="text" placeholder="timeStamp"
                                                                   ng-model="timestamp"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">typeDoc</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="typeDoc" name="typeDoc"
                                                                   type="text" placeholder="typeDoc"
                                                                   ng-model="typeDoc"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">notificationId</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="notificationId" name="notificationId"
                                                                   type="text" placeholder="notificationId"
                                                                   ng-model="notificationId"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">userId</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="customernoyif" name="userId"
                                                                   type="text" placeholder="userId"
                                                                   ng-model="userId"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">tocompname</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="tocompany" name="tocompname"
                                                                   type="text" placeholder="tocompname"
                                                                   ng-model="tocompname"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">fromcompname</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="tocompany" name="fromcompname"
                                                                   type="text" placeholder="fromcompname"
                                                                   ng-model="fromcompname"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">toEmail</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="toEmail" name="toEmail"
                                                                   type="text" placeholder="toEmail"
                                                                   ng-model="toEmail"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">contact</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="toEmail" name="contact"
                                                                   type="text" placeholder="contact"
                                                                   ng-model="contact"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">address</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="toEmail" name="address"
                                                                   type="text" placeholder="address"
                                                                   ng-model="address"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">fromEmail</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="toEmail" name="fromEmail"
                                                                   type="text" placeholder="fromEmail"
                                                                   ng-model="fromEmail"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">fromcontact</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="toEmail" name="fromcontact"
                                                                   type="text" placeholder="fromcontact"
                                                                   ng-model="fromcontact"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">fromaddress</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="toEmail" name="fromaddress"
                                                                   type="text" placeholder="fromaddress"
                                                                   ng-model="fromaddress"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">typeFlag</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="typeFlag" name="typeFlag"
                                                                   type="text" placeholder="typeFlag"
                                                                   ng-model="typeFlag"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">viewstatus</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="viewstatus" name="viewstatus"
                                                                   type="text" placeholder="viewstatus"
                                                                   ng-model="viewstatus"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">totaltax</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="totaltax" name="totaltax"
                                                                   type="text" placeholder="totaltax"
                                                                   ng-model="totaltax"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">objectdata</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="objectdata" name="objectdata"
                                                                   type="text" placeholder="objectdata"
                                                                   ng-model="objectdata"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">totalcheckoutamt</label>
                                                        <div class="col-md-6 col-sm-6" style="position:relative;">
                                                            <input id="totalcheckoutamt" name="totalcheckoutamt"
                                                                   type="text" placeholder="totalcheckoutamt"
                                                                   ng-model="totalcheckoutamt"
                                                                   class="form-control input-md" autocomplete="off">

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-4 col-sm-4 control-label" for="">status</label>
                                                        <div class="col-md-6 col-sm-6" >
                                                            <select name="status" id="status" ng-model="status"  class="form-control input-md" required>
                                                                <option value="Active">Active</option>
                                                                <option value="InActive">InActive</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" data-toggle="modal"
                                            data-target=".print-me"  ng-click="savecustnotif()">Save
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="removenotif()" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>